@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: monospace;
}
@media only screen and (min-width:500px){
  /*main{
    background-color:purple;
  }*/
  #time-bar{
    width:40%!important;
  }
  #c-word{
    width:40%!important;
    height:300px!important;
    align-items: center;
    justify-content: center;
  }
  #rand-w{
    width:20%!important;
  }
  #g-z-i{
    display :flex;
  }
  #c-boneco{
    margin-left:3vw!important;
  }
}
@keyframes bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

#c-msg {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  font: 3vh bold monospace;
  background-color: rgb(0, 0, 0, 0.78);
}
#c-msg > * {
  padding: 5vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  border-radius: 3vh;
}
#advice{
  width:100%;
  padding:1vh;
  margin:1vh 0px;
  font: italic 1.5vh monospace;
  letter-spacing: .5vh;
  color:teal;
}

header,
main,
footer {
  width: 100%;
  margin: 0px;
  border: 1px solid transparent;
  padding: 2vh;
}

header,
footer {
  display: flex;
  background-color: black;
  color: whitesmoke;
  justify-content: left;
  align-items: center;
}
header{
  position:sticky;
  top:-1px;
}
header h1 {
  font-size: 4vh;
  padding-left: 2vh;
}
footer p {
  font-size: 1.5vh;
  padding-left: 2vh;
}
.container-logo {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
}

#controle-zone {
  display: flex;
}
#btn-init-stop {
  color: darkgray;
  background-color: whitesmoke;
  padding: 2vh;
  font-size: 3vh;
  border: none;
  box-shadow: 2px 2px 1px rgb(0, 0, 0, 0.243);
  border-radius: 3vh;
  cursor: pointer;
}
#time-bar {
  width: 60%;
  padding: 0.1vh;
  margin-left: 2vh;
  border: 2px solid lightgray;
  border-radius: 3vh;
}
#time-bar * {
  /*animation: 5s linear bar infinite;*/
  height: 100%;
  background-color: green;
  width: 0%;
  border-radius: 3vh;
}
#game-history{
  display:inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 2vh;
  margin-left:2vh;
  border-radius: 3vh;
  font-family: 'Courier New', Courier, monospace;
  background-color: skyblue;
  color: teal;
  cursor: pointer;
}

#l-errors,
#c-word {
  width: 100%;
  margin: 3vh 0px;
  padding: 1vh;
  display: flex;
}
.error {
  display: flex;
  width: 5vh;
  height: 5vh;
  font: 1.5vh bolder monospace;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: green;
  border: none;
  border-radius: 50%;
  margin: 1vh;
  box-shadow: 2px 2px 1px rgb(0, 0, 0, 0.126);
}
#i-letter,
#validate,
#rand-w {
  background-color: whitesmoke;
  width: 20%;
  display: inline-block;
  text-align: center;
  padding: 1vh;
  outline: none;
  border: none;
  border-radius: 2vh;
  box-shadow: 2px 2px 1px rgb(0, 0, 0, 0.167);
}
#validate,
#rand-w {
  margin: 2vh 0px;
  background-color: whitesmoke;
  color: green;
  font-weight: bolder;
  cursor: pointer;
}
#validate:hover {
  color: whitesmoke;
  background-color: green;
}
#rand-w {
  width: 40%;
  color: darkgray;
}
#rand-w:hover {
  color: black;
}

#c-word {
  display: inline-flex;
  border: 1px solid gray;
  width: 100%;
  padding: 1vh;
  overflow: scroll;
}

#c-boneco{
  display: block;
  margin: auto;
  background-color: brown;
  width:200px;
  height:300px;
}


#c-g-h{
  display: none;
  position:fixed;
  width:100%;
  height:100%;
  padding-top: 5vh;
  background-color: rgb(0, 0, 0, 0.567);
}
#c-g-h > *{
  border: 1px solid black;
  width:70%;
  padding: 2vh;
  margin: auto;
}
#h-t{
  background-color: white;
}
#h-t > *{
  display: inline-flex;
  align-items: center;
  /*border:2px solid red;*/
}
#close{
  width: 3.5vh;
  height:3.5vh;
  border-radius:50%;
  background-color: whitesmoke;
}
#h-t h4{
  font-size:4vh;
  color:darkgray;
}
#close:hover{
  background-color: darkred;
}

#h-i-g{
  background-color: darkgray;
}
#h-i-g span{
  display:inline-flex;
  color: white;
  padding: 1vh;
  margin:1vh;
  border-radius: 1vh;
}
#lost{
  background-color: darkred;
}
#win{
  background-color:green;
}
#total{
  background-color: teal;
}

#h-w-s{
  padding: 0px;
  max-height: 10vh;
  overflow-y: scroll;
}
#h-w-s > *{
  width: 100%;
  padding: 2vh;
  color:white;
  /*background-color: red;*/
  text-align: center;
}